<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/animate.css/animate.min.css" >
    <link href="~/lib/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Title     -->
    <title>Fia USMP</title>

    <!-- Favicon   -->
    <link rel="icon" href="https://www.usmp.edu.pe/fia/img/core-img/logousmp.ico">

    <!-- Core Stylesheet   -->
    <link rel="stylesheet" href="https://www.usmp.edu.pe/fia/css/style.css">
    <style>
    ul.fix-items-li li {
        list-style-type: lower-alpha !important;

    }
    </style>
</head>

<body>
    <!-- ##### Preloader #####     -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start #####     -->
    <header class="header-area">

        



<div class="container-fluid lineTop">
    <div class="container d-flex justify-content-center justify-content-sm-end align-items-center h-100">

        <ul class="listasocial row d-flex justify-content-end " style="margin-right: 3%;">
            <li class="lisocial">
                <a href="https://www.usmp.edu.pe/fia">
                    <img src="https://usmp.edu.pe/fia/img/redes/home.png" width="16" alt="">
                </a>
            </li>
            <li class="lisocial">
                <a href="https://facebook.com/fia.usmp" target="_blank">
                    <img src="https://usmp.edu.pe/fia/img/redes/Facebook.png" width="16" alt="">
                </a>
            </li>
            <li class="lisocial">
                <a href="https://instagram.com/fiausmp" target="_blank">
                    <img src="https://usmp.edu.pe/fia/img/redes/Instagram.png" width="16" alt="">
                </a>
            </li>
            <li class="lisocial">
                <a href="https://youtube.com/channel/UC5ULsRR5-_BFgkbRmaghtwA" target="_blank">
                    <img src="https://usmp.edu.pe/fia/img/redes/Youtube.png" width="16" alt="">
                </a>
            </li>
            <li class="lisocial">
                <a href="http://outlook.com/usmp.pe" target="_blank">
                    <img src="https://usmp.edu.pe/fia/img/redes/mail.png" width="16" alt="">
                </a>
            </li>
            <li class="lisocial">
                <a href="https://usmp.edu.pe/fia/contacto.php" target="_blank">
                    <img src="https://usmp.edu.pe/fia/img/redes/contacto.png" width="16" alt="">
                </a>
            </li>
            <li class="lisocial">
                <a style="color:white;" href="https://www.usmp.edu.pe/" target="_blank">
                    | &nbsp; USMP
                </a>
            </li>

            <!-- <li class="lisocial">
                <a style="color:white;" href="https://admision.usmp.edu.pe/" target="_blank">
                    | &nbsp;  POSTULA AQUI
                </a>
            </li> -->
      
            <!-- <li class="lisocial">
                <a href="#" target="_blank">
                    <img src="https://usmp.edu.pe/fia/img/reino_unido.jpg" width="16" alt="">
                </a>
            </li> -->
        </ul>
          <!-- <script async src="https://cse.google.com/cse.js?cx=006657112827467252949:tcrou0ntcaz"></script>
            <div class="gcse-search"></div> -->
    </div>
    
</div>
<!-- Top Header Area -->



<div class="h-100">
    <div class="container h-100">

        <div class="row h-100 d-flex align-items-center justify-content-xs-center justify-content-lg-start ">

            <div class="col-12 pt-4 pl-xs-2 pl-0 text-xs-center text-lg-left ">

                <a href="https://usmp.edu.pe/fia" class="pl-2">
                    <img src="https://usmp.edu.pe/fia/img/core-img/FIA-logo-.png" class="img-fluid img-logo-fix-mobile"
                        alt="USMP - FIA">
                </a>

            </div>

        </div>
    </div>
</div>
    
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="footer-area">

        <div class="bottom-footer-area mt-5"  >
    <div class="container">


        <div class="row"   >

            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-sm-start mb-2 mb-md-1"  >

               <img src="https://usmp.edu.pe/fia/img/logo_fia_footer.png" style="height:48px" class="img-fluid" alt="">

            </div>


            <div class="col-12 col-md-5"  >

                <p class="footer-text"  >
                    
                     Av. La Fontana 1250. Urb. Santa Patricia. La Molina
                        <br>
                    <a href="https://www.usmp.edu.pe/fia/pdf/directorio.pdf" target="_blank">Canales de atención </a> 
                    <br>
                    Copyright © 2021 Área de Desarrollo Web y Marketing FIADATA - FIA USMP<br>
                    Todos los derechos reservados
                   
                </p>
            </div>


            <div class="col-12 col-md-3"  >

                <ul class="listasocial row d-flex  mt-3 justify-content-center  justify-content-md-end">
                    <li class="lisocial">
                        <a href="https://www.facebook.com/fia.usmp" target="_blank">
                            <img src="https://usmp.edu.pe/fia/img/redes/Facebook.png" width="16" alt="">
                        </a>
                    </li>
                    <li class="lisocial">
                        <a href="https://www.instagram.com/fiausmp" target="_blank">
                            <img src="https://usmp.edu.pe/fia/img/redes/Instagram.png" width="16" alt="">
                        </a>
                    </li>
                    <li class="lisocial">
                        <a href="https://www.youtube.com/channel/UC5ULsRR5-_BFgkbRmaghtwA" target="_blank">
                            <img src="https://usmp.edu.pe/fia/img/redes/Youtube.png" width="16" alt="">
                        </a>
                    </li>
                    <!-- <li class="lisocial">
                        <a href="#" target="_blank">
                            <img src="https://usmp.edu.pe/fia/img/reino_unido.jpg" width="16" alt="">
                        </a>
                    </li> -->
                </ul>
            </div>




        </div>
    </div>
</div>    </footer>

    <!-- ##### All Javascript Script #####     -->
    <!-- jQuery-2.2.4 js   -->

    <script src="https://usmp.edu.pe/fia/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js     -->

    <script src="https://usmp.edu.pe/fia/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js  -->
    <script src="https://usmp.edu.pe/fia/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js    -->
    <script src="https://usmp.edu.pe/fia/js/plugins/plugins.js"></script>
    <!-- Active js     -->
    <script src="https://usmp.edu.pe/fia/js/mapImg.js"></script>

    <script src="https://usmp.edu.pe/fia/js/active.js"></script>
    <script>
    $(document).ready(function() {

        $('map').imageMapResize();
    })
    </script>

</body>

</html>