@{
    Layout="~/Views/Shared/_NewLayout.cshtml";
}
    <div class="container">
        <h1 align="left">Física I</h1>
        <br>
        <p>Listado de alumnos</p>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Apellido</td>
                    <td>Nombre</td>
                    <td>Escuela</td>
                    <td>Sección</td>
                    <td>Laboratorio</td>
                    <td>Ejercicios</td>
                    <td>Progreso</td>
                    <td>Descripción</td>
                </tr>
            </thead>
            <tbody>
                <tr style="border: 1px;">
                    <td>76541212</td>
                    <td>Castillo Berto</td>
                    <td>Maria Alejandra</td>
                    <td>Computación y Sistemas</td>
                    <td>01F002</td>
                    <td>Laboratorio 1</td>
                    <td>1/7</td>
                    <td>10%</td>
                    <td>Electrostática</td>
                </tr>
            </tbody>
        </table>
    </div>