@{
    Layout="~/Views/Shared/_NewLayout.cshtml";
}
    <div class="container">
        <h1 align="left">Física I</h1>
        <br>
        <p>Alumno: Juan Edmundo Bejarano Galvez - E0001</p>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Laboratorio</td>
                    <td>Ejercicios</td>
                    <td>Progreso</td>
                    <td>Notas</td>
                    <td>Fecha Inicio</td>
                    <td>Fecha Fin</td>
                    <td>Intentos</td>
                    <td>Descripción</td>
                </tr>
            </thead>
            <tbody>
                <tr style="border: 1px;">
                    <td rowspan="5" style="align:center;">Laboratorio 1</td>
                    <td>Ejercicios 1</td>
                    <td>10%</td>
                    <td>20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tiene que frotar la varilla de plástico con la toalla</td>
                </tr>
                <tr style="border: 1px;">
                    <td>Ejercicios 1</td>
                    <td>10%</td>
                    <td>20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="border: 1px;">
                    <td>Ejercicios 1</td>
                    <td>10%</td>
                    <td>20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="border: 1px;">
                    <td>Ejercicios 1</td>
                    <td>10%</td>
                    <td>20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="border: 1px;">
                    <td>Ejercicios 1</td>
                    <td>10%</td>
                    <td>20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>